
.marko_card{
    transition: all .4s ease-in-out;
    cursor: pointer;
}
/*  */

@media screen and (min-width:360px){
.marko_card{ 
    text-align: center;
    margin: 6px 0;

}    

.marko_card h3{
    
    color: #a1478f !important;
    }
}

